body
{
  background-color:#000;
}

h1
{
  font-size:48px;
  margin-top:0;
  font-family:Arial, sans-serif;
  text-shadow:6px 0 15px #292929;
  letter-spacing:4px;
  text-decoration:none;
  color:#00FFFF;
}

.banner
{
  padding-bottom: 20px;
  padding-top: 20px;
}

.btn-banner
{
  border-radius:10px;
}

.textfield{
  padding-top: 80px;
  padding-bottom: 10px;
}

.lead
{
  background-color:rgba(255,255,255,0.5);
  box-shadow:rgba(0,0,0,0.2) 0 1px 1px;
  font-family:Sintony, sans-serif;
  font-size: 14px;
  padding: 5px;
  color: white;
}

.wrapper {
  text-align: center;
}

.button {
  position: absolute;
  top: 50%;
}

.titletext{
  padding-top: 30px;
  font-family:Sintony, sans-serif;
  font-weight: bold;
}

.navbar-brand,
.navbar-nav li a {
  line-height: 45px;
  height: 70px;
}

.topbar{
  background-color: #262626;
  background-image: url('../img/bg.png');
}

.btn-add{
  width: 10%;
}

.btn-add-lg{
  width: 24.8%;
}

.btn-nav{
  background: none;
  border: 1px solid #ffffff;
  color: white;
}

.btn-nav:hover{
  background: #ffffff;
  border: 1px solid #ffffff;
  color: #006dcc;
}

* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -10px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 10px;
  color: white; 
  font-size: 80%;
}
.site-footer {
  background: black;
}
