body
{
  background-color:#000;
}

h1
{
  font-size:48px;
  margin-top:0;
  font-family:Arial, sans-serif;
  text-shadow:6px 0 15px #292929;
  letter-spacing:4px;
  text-decoration:none;
  color:#00FFFF;
}

.banner
{
  padding-bottom: 20px;
  padding-top: 20px;
}

.btn-banner
{
  border-radius:10px;
}

.textfield{
  padding-top: 80px;
  padding-bottom: 10px;
}
